/* *** MASTER CSS FILE *** */
body{

}
#titleHeader {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  color: white;
  background: black;
}

span{
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-family: sans-serif;
  color: red;
  font-size: 90px;
}
